version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  backend:
    image: backend:latest
    container_name: boardgame-backend
    ports:
      - "1234:1234"
    environment:
      - PORT=1234
    restart: unless-stopped
    depends_on:
      - mongo
      - db=mongo

  frontend:
    image: game:latest
    container_name: boardgame-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
volumes:
  mongo_data:
