apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: boardgame
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 1234          
      targetPort: 1234    
      nodePort: 31234     
