apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: boardgame
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 333m/boardgame-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 1234
          env:
            - name: PORT
              value: "1234"
